/*  your css code here. If applicable */
h1{
	text-align:center;
}
#t11{
	text-align:left;
}
#t12{
	text-align:center;
}

#t13{
	text-align:right
}
td{
	border:1px solid black;
	height:20px;
}

.middle{
	width:100%;
	height:auto;
	border:1px solid black;
	margin-top:50px;
}
#firstRow{
	background-color:green;
}
#lastRow{
	background-color:blue;
}

img{
	display:block;
	margin-left: auto;
    margin-right: auto;
    width: 50%;
}